{% extends 'base.html' %}
{% block content %}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="{{ book.cover.url }}" class="img-fluid rounded-start" width="250">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
            <strong>{{ book.title }}, {{author_name}} </strong>
                        <br/>            <br/>

        </h5>
        <p class="card-text">
            <strong>Description: </strong>{{ book.desc }}
            <br/>            <br/>
            <strong>Released at: </strong>{{ book.released_at }}
        </p>
      </div>
    </div>
  </div>
</div>



<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back to main page</a>
<a href="{% url 'delete_book' book.id %}" class="btn btn-danger">Delete book</a>
<a href="{% url 'update_book' book.id %}" class="btn btn-secondary">Update book info</a>


{% endblock %}