{% extends 'base.html' %}
{% block content %}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="{{ book.cover.url }}" class="img-fluid rounded-start" width="250">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
            <strong>{{ book.title }}, {{author_name}} </strong>
                        <br/>            <br/>

        </h5>
        <p class="card-text">
            <strong>Description: </strong>{{ book.desc }}
            <br/>            <br/>
            <strong>Released at: </strong>{{ book.released_at }}
        </p>
      </div>
    </div>
  </div>
</div>



<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back to main page</a>
<a href="{% url 'delete_book' book.id %}" class="btn btn-danger">Delete book</a>
<a href="{% url 'update_book' book.id %}" class="btn btn-secondary">Update book info</a>
<br/>
<br/>
{% if comments %}
<p>Comments:</p>
<br/>
<ul class="list-group">
    {% for comment in comments %}

    <li class="list-group-item">
        # {{comment.id}} <strong>{{comment.user_add.username}}:</strong> {{comment.text}}</li>
    {% endfor %}

</ul>
{% else %}
<p>You can be the first to comment this book:</p>

{% endif %}
<br/>

<form class="d-flex" role="search" method="post" action="{% url 'add_comment' book.id %}">
    {% csrf_token %}

    <input class="form-control me-2" placeholder="comment..." aria-label="Comment"
           name="comment">
    <button class="btn btn-outline-secondary" type="submit">Post</button>
</form>

</form>

{% endblock %}