{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<table class="table table-borderless table-hover table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="col">Cover</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Released, year</th>

    </tr>
    </thead>
    <tbody>

    {% if books %}
    {% for book in books %}
    <tr>
        {% if book.cover %}
        <td width="120"><a href="book/{{ book.id }}"><img src="{{ book.cover.url }}" width="100"></a></td>
        {%else%}
        <td width="120">No image...</td>
        {% endif %}

        <td width="100"><a href="book/{{ book.id }}">{{ book.title }}</a></td>
        <td width="300">{{ book.desc }}</td>
        <td width="50">{{ book.released_at }}</td>
    </tr>
    {% endfor %}

    {% endif %}

    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-left">
        {% if books.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First page</a></li>

        <li class="page-item"><a class="page-link" href="?page={{ books.previous_page_number }}">{{ books.previous_page_number }} <-</a></li>

        {% endif %}

        <li class="page-item disabled"><a href="#" class="page-link">Page {{ books.number }} of {{ books.paginator.num_pages }}</a></li>


        {% for i in nums %}
        <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>

        {% endfor %}


        {% if books.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ books.next_page_number }}"> -> {{ books.next_page_number }}</a></li>

        <li class="page-item"><a class="page-link" href="?page={{ books.paginator.num_pages }}">Last page</a></li>

        {% endif %}

    </ul>
</nav>

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>

    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>

        </div>
        <br/>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Login</button>

    </form>
</div>

{% endif %}

{% endblock %}